// Helper classes
.d-none {
  display: none !important;
}

.btn-disable {
  cursor: auto;
  pointer-events: none;
}

.link-disable {
  cursor: auto !important;
  pointer-events: none !important;
  color: #ccc !important;
}

.visible-phone {
  display: none !important;
}

.visible-tab {
  display: none;
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-16 {
  display: inline-block;
  margin-top: 16px;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px;
}

.h-20 {
  height: 20px !important;
}

.border-gray {
  border: 1px solid $border-gray !important;
}

.text-content {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: $blue-dark-text;
}

.btn-primary {
  font-size: 14px;
  line-height: 20px;
  color: $gray-btn-text;
  background: $white;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.55rem;
  cursor: pointer;
}

.btn-blue {
  background: $btn-blue;
  color: $white;
}

.border-blue {
  border: 1px solid $border-blue !important;
}

.btn-gray {
  background: $gray-background;
  color: $gray-btn-text;
}

.btn-green {
  background: #0bb07b;
  color: $white;
}

.alert {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  min-height: 48px;
  border-radius: 6px;
  padding: 10px 16px;
  margin: 8px 0 16px 0;

  .icon-con {
    line-height: 0;
  }
}

.alert-progress {
  color: $blue-text;
  background: #d0ebff;
}

.alert-error {
  color: $error-red-text;
  background: $error-red-bg;
}

.error {
  font-size: 12px;
  color: $error-red;
  margin-bottom: 8px;
  margin-top: -5px;
  font-weight: 600;

  label {
    color: $error-red-text !important;
  }

  input {
    border: 1px solid $error-red-text !important;
  }
}

.alert-warning {
  background: $warning-bg;
  color: $warning-text;
}

.alert-otp {
  background: #f5f7fa;
  color: $blue-text;
}

.card {
  padding: 35px 24px;
  background: $white;
  border: 1px solid $border-gray;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 12px 6px -14px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.15);
}

.flex-center {
  @include flex-center;
}

.flex-center-only {
  @include flex-center-only;
}

.fixed-con {
  margin-top: 20px;
}

.refresh-code {
  a {
    font-size: 16px;
    font-weight: 600;
    color: $blue-dark-text;
    text-decoration: underline;
    cursor: pointer;
  }
}

.screen-loading {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  padding: 0;
  height: calc(100% - 94px);
  z-index: 10;

  h2 {
    margin: 16px 0;
  }
}

.successful-msg,
.screen-loading {
  .center-con-in {
    padding: 16px;
    width: 100%;
    background: $white;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
  }
}

.full-screen-modal {
  @extend .screen-loading;

  @include flex-center;

  background: rgba(0, 0, 0, 0.6509803921568628);
  position: absolute;
  height: 100%;
  top: 0;
  padding: 0;
  z-index: 10;

  .center-con {
    padding: 50px 16px;
    width: 100%;
    background: $white;
    margin: 0 48px;
    border-radius: 6px;
  }

  .btn-primary {
    margin: 16px 0 24px;
  }
}

.successful-msg {
  .center-con-in {
    transform: translateY(-80%) translateX(-50%);
  }

  button {
    position: fixed;
    bottom: 112px;
    width: calc(100% - 40px);
    left: 20px;
  }
}

.currency-amount {
  font-size: 24px !important;
  line-height: 30px;
}

.MuiCircularProgress-circleIndeterminate-10 {
  animation: mui-progress-circular-dash 1.4s ease-in-out infinite;
  animation-name: mui-progress-circular-dash;
  stroke-dasharray: 80, 200;
  stroke-dashoffset: 0;
  fill: transparent;
  fill-opacity: 0;
}

@-webkit-keyframes mui-progress-circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes mui-progress-circular-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes mui-progress-circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mui-progress-circular-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

#error-logo {
  width: 60px;
}

.ios-fixed-body {
  position: fixed;
  width: 100%;
}

@include phone {
  .visible-phone {
    display: block !important;
  }

  .hide-phone {
    display: none !important;
  }

  .text-content {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: $blue-dark-text;
  }

  .btn-primary {
    font-size: 12px;
    line-height: 16px;
    padding: 7px 28px;
  }

  .btn-phone-lg {
    padding: 15px 36px;
    font-size: 14px;
  }

  .fixed-con {
    bottom: calc(0vh + 72px + 16px);
    padding: 0 16px;
  }
}

@include tab {
  .visible-tab {
    display: block !important;
  }

  .text-content {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: $blue-dark-text;
  }

  .btn-primary {
    font-size: 12px;
    line-height: 16px;
    padding: 7px 28px;
  }

  .fixed-con {
    bottom: calc(0vh + 72px + 24px);
    padding: 0 24px;
  }
}

// Ozow

#payment-container .stepName {
  font-size: 18px !important;
  margin: 16px 0;
}

#payment-container #payment #next-btn {
  line-height: 16px !important;
}

#JsInjection #payment-container .col-md-9 .divHolder input {
  padding-left: 40px !important;
}

#JsInjection #payment-container .divHolder img {
  top: 7px !important;
}

#payment-container .ozow-radio label {
  padding-top: 25px !important;
}
