// MIXINS
@mixin buttonLogo {
  position: absolute;
  right: 20px;
}

@mixin firstInputLogo {
  position: absolute;
  height: 18px;
  width: 18px;
  z-index: 100000;
  color: $blue-dark-text;
}

@mixin secondInputLogo {
  position: absolute;
  height: 18px;
  width: 18px;
  z-index: 100000;
  color: $blue-dark-text;
}

@mixin button {
  padding: 0.75rem 1.55rem;
  border: none;
  color: $white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

@mixin default_img {
  position: absolute;
  right: 50px;
  top: 20px;
}

@mixin first_img {
  height: 55px;
  width: 57px;
}

// EFT MAIN
.eft_main {
  #eftx-title {
    font-size: 16px;
    font-weight: 600;
    transition: all 0.2s;
    margin-bottom: 8px;
    margin-top: 0;
  }

  #eftx-subtitle {
    color: $gray-btn-text;
    font-size: 14px;
    margin-bottom: 24px;
    margin-top: 0;
  }

  .eftx-note {
    padding-left: 5px;
  }

  .eft_content {
    text-align: center;
    position: relative;
    background: $white;

    .loader_wrapper {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 100;

      .loader-icon {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    #eftx-form {
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      z-index: 999;
    }

    .eftx-bank {
      background: $white;
      border: none;
      border-radius: 8px;
      box-shadow: 0 0 0 1px $border-gray;
      color: $blue-dark-text;
      cursor: pointer;
      flex-direction: column;
      flex-basis: 48.5%;
      height: 95px;
      margin: 0 0 16px;
      min-width: auto;
      padding: 16px 0 16px 60px;
      position: relative;
      text-align: left;
      width: 48.5%;
      line-height: 69px;
      font-size: 16px;
      transition: ease all 0.2s;

      @media (max-width: 768px) {
        flex-basis: 100%;
      }

      &:hover {
        box-shadow: 0 0 0 2px #1c7ed6;

        .circle_main {
          background: url("../images/radio_button_checked-24px.svg") no-repeat
            center;
          height: 24px;
          width: 24px;
        }
      }

      &:focus {
        outline: 2px #1c7ed6;
      }

      // Bank logo for bankCard
      img {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
      }
    }

    .circle_main {
      position: absolute;
      left: 24px;
      top: 50px;
      transform: translateY(-50%);
      cursor: pointer;
      float: left;
      height: 24px;
      width: 24px;
      background: url("../images/radio_button_unchecked-24px.svg") no-repeat
        center;
    }

    .eftx-input.eftx-passphrase-input {
      width: 50px;
      padding: 6px;
      text-align: center;
      margin: 5px;
    }

    // Login Screen Bank logo
    .eft_logo {
      height: 30px;
      margin-bottom: 8px;
    }

    .eftx-input {
      margin-top: 4px;
      margin-bottom: 10px;
      width: 100%;
      padding: 1rem 3rem 1rem 1rem;
      border: 1px solid $gray-background;
      border-radius: 4px;
      color: $blue-dark-text;

      &::placeholder {
        color: $gray-btn-text;
      }

      &:focus {
        outline-color: $border-blue;
      }
    }

    label {
      float: left;
      font-weight: 600;
      font-size: 14px;
      width: 100%;
      text-align: left;
    }
  }

  /* Choose another bank link */
  .select_bank {
    text-decoration: underline;
    cursor: pointer;
    margin-top: 16px;
    font-size: 14px;
    color: #a6aebc;
    order: 2;
    transition: all ease-in-out 0.3s;

    &:hover {
      color: $blue-dark-text;
    }
  }
}

.eftx-cancel-transaction {
  // Displayed when needed via widget
  display: none;
  padding: 10px 24px;
  background: #fff;
  border: 1px solid #c9ced6;
  color: #8a94a6;
  border-radius: 4px;
  margin: 8px;
  min-width: 110px;
  text-decoration: none;

  &:hover {
    color: #fff;
    border-color: #f03d3d;
    background-color: #f03d3d;
  }
}

// ********** RESPONSE BUTTONS **********
.paid-response {
  @include button();

  margin-right: 10px;
  margin-top: 10px;
  margin-left: 80px;
  float: left;
  background: rgb(31, 117, 255);

  &:hover {
    background: rgb(14, 90, 255);
  }
}

.failed-response {
  @include button();

  margin-right: 10px;
  margin-top: 10px;
  float: left;
  background: #f44336;

  &:hover {
    background: rgb(246, 38, 23);
  }
}

.btn-danger {
  @include button();

  margin-top: 10px;
  float: left;
  background: #999;

  &:hover {
    background: #777;
  }
}

.user-logo {
  @include firstInputLogo();
}

.pass-logo {
  @include secondInputLogo();
}

.number-logo {
  @include secondInputLogo();
}

.capitec_logo {
  @include buttonLogo();

  height: 18px;
  width: 30px;
}

.fnb_logo {
  @include buttonLogo();

  height: 35px;
  width: 50px;
  right: 12px;
}

.standard_logo {
  @include buttonLogo();

  height: 25px;
  width: 25px;
  right: 23px;
}

.nedbank_logo {
  @include buttonLogo();

  width: 37px;
  height: 30px;
}

.absa_logo {
  @include buttonLogo();

  height: 30px;
  width: 30px;
}

.investec_logo {
  @include buttonLogo();

  height: 30px;
  width: 30px;
}

//  IMAGES
.absa_img {
  @include default_img();
  @include first_img();
}

.nedbank_img {
  @include default_img();
  @include first_img();
}

.standard_img {
  @include default_img();
  @include first_img();
}

.investec_img {
  @include default_img();
  @include first_img();
}

.capitec_img {
  @include default_img();

  height: 25px;
  width: 41px;
}

.fnb_img {
  @include default_img();

  height: 55px;
  width: 75px;
}

.eftx-select {
  color: $blue-dark-text;
}

#eftx-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;

  button {
    background: $white;
    box-shadow: 0 0 0 1px $border-gray;
    border: 0;
    color: $gray-btn-text;
    margin: 10px 10px 0 10px;
    padding: 14px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
    min-width: 230px;
    min-height: 50px;
  }

  .eftx-submit {
    /* General White Button */
    @include button();

    background: $white;
    box-shadow: 0 0 0 1px $border-gray;
    color: $gray-btn-text;
    order: 1;

    /* Login Button */
    &.submitBtn {
      background: #1c7ed6;
      box-shadow: 0 0 0 1px #1c7ed6;
      color: $white;
      min-width: auto;
      min-height: auto;
      border-radius: 4px;

      &:disabled {
        cursor: not-allowed;
        color: $white;
        background: $gray-background;
        box-shadow: 0 0 0 1px $gray-background;
      }
    }

    /* Old or New Site Button */
    &.eftx-bank-transport {
      padding: 10px 24px;
      background: #1c7ed6;
      box-shadow: 0 0 0 1px #1c7ed6;
      color: $white;

      &:hover {
        cursor: pointer;
        background: darken(#1c7ed6, 10%);
        color: #fff;
      }
    }

    &.eftx-account-button {
      background: $white;
      box-shadow: 0 0 0 1px $border-gray;
      border: 0;
      color: $blue-dark-text;
      line-height: 20px;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
      width: 100%;

      &:hover {
        box-shadow: 0 0 0 2px #1c7ed6;
      }
    }
  }
}

// ############# Responsive ############## //
// ************* maxWidth 600px *************
@media (max-width: 600px) {
  @mixin default_img {
    position: absolute;
    right: 45px;
    top: 30px;
  }

  @mixin first_img {
    height: 35px;
    width: 37px;
  }

  .absa_img {
    @include default_img();
    @include first_img();
  }

  .nedbank_img {
    @include default_img();
    @include first_img();
  }

  .standard_img {
    @include default_img();
    @include first_img();
  }

  .investec_img {
    @include default_img();
    @include first_img();
  }

  .capitec_img {
    @include default_img();

    height: 20px;
    width: 31px;
  }

  .fnb_img {
    @include default_img();

    height: 38px;
    width: 50px;
  }

  .capitec_logo {
    @include buttonLogo();

    height: 18px;
    width: 30px;
  }

  .fnb_logo {
    @include buttonLogo();

    height: 35px;
    width: 50px;
    right: 12px;
  }

  .standard_logo {
    @include buttonLogo();

    height: 25px;
    width: 25px;
    right: 23px;
  }

  .nedbank_logo {
    @include buttonLogo();

    width: 30px;
    height: 30px;
  }

  .absa_logo {
    @include buttonLogo();

    height: 30px;
    width: 30px;
  }

  .investec_logo {
    @include buttonLogo();

    height: 30px;
    width: 30px;
  }
}

// ************* 500px x 600px *************
@media (min-width: 501px) and (max-width: 600px) {
  @mixin default_img {
    position: absolute;
    right: 100px;
    top: 0;
  }
}

// ********** MEDIA QUERY 601px x 700px **********
@media (min-width: 601px) and (max-width: 700px) {
  @mixin default_img {
    position: absolute;
    right: 50px;
    top: 0;
  }

  //  IMAGES
  .absa_img {
    @include default_img();
    @include first_img();
  }

  .nedbank_img {
    @include default_img();
    @include first_img();
  }

  .standard_img {
    @include default_img();
    @include first_img();
  }

  .investec_img {
    @include default_img();
    @include first_img();
  }

  .capitec_img {
    @include default_img();

    height: 25px;
    width: 41px;
  }

  .fnb_img {
    @include default_img();

    height: 55px;
    width: 75px;
  }
}
