#cMasking {
  font-size: 20px;
  text-align: center;

  ::placeholder {
    font-size: 20px;
    color: $placeoholder-text;
  }
}

.form-group {
  height: 64px;
  padding: 22px 16px;
  width: 100%;
  margin-top: 16px;
  border: 1px solid $border-gray;
  border-radius: 6px;
  position: relative;
  text-align: left;

  &.active {
    label {
      top: 17px;
      font-size: 12px;
    }
  }

  label {
    @include transform(translateY(-50%));

    font-size: 14px;
    line-height: 20px;
    color: $placeoholder-text;
    position: absolute;
    top: 50%;
    left: 16px;
    transition: 0.35s;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: calc(100% - 25px);
    border: none;
    outline: none !important;
    position: relative;
    z-index: 1;
    background: transparent;
    padding-top: 5px;
    color: $blue-dark-text;
    font-size: 14px;
    line-height: 20px;
  }

  .icon-con {
    @include transform(translateY(-50%));

    position: absolute;
    top: 50%;
    right: 16px;
    line-height: 0;
  }
}

// Global component ended here
.inner-content {
  // padding: 0px $desk-global-padding;
  // position: relative;
  // min-height: 568px;

  input[type="submit"] {
    float: right;
    margin-top: 24px;
  }

  .heading-con {
    text-align: center;

    .logo-container {
      height: 60px;
      display: inline-block;
      padding: 6px 0;
      margin-bottom: 8px;

      img {
        height: 100%;

        &:hover {
          outline: 0;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .login-con {
    text-align: center;
    min-height: 500px;
  }

  .otp-con {
    text-align: center;
    min-height: 500px;

    .opt-text {
      @include flex-center;

      height: 96px;
      padding: 10px;
      border: 1px solid $border-gray;
      margin: 24px 0;
      border-radius: 6px;
    }

    .right-btn {
      text-align: right;
      margin-top: 24px;
      display: inline-block;
      width: 100%;
    }

    .opt-inner-con {
      position: relative;
      text-align: center;

      .shell {
        @extend .text-content;

        position: relative;

        #czcMask {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    #resend-btn {
      color: $resend-black;
      text-decoration: none;
    }
  }

  .qr-code-con {
    padding: 48px;
    text-align: center;
    background: #f1f2f4;
    margin: 16px 0 24px;
    border-radius: 6px;

    .qr-img {
      margin-bottom: 24px;
      height: 120px;
      width: 120px;
    }
  }

  .phone-no-con {
    @extend .qr-code-con;

    padding: 34px 20px;
  }

  .copy-btn {
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 0;
    justify-content: space-between;
    padding: 13px 24px;
    margin: 24px 0 0 0;
    border-radius: 6px;
  }

  .card-para {
    margin-top: 10px;
  }

  .mpesa-form {
    ::placeholder {
      font-size: 14px;
      line-height: 20px;
      color: $placeoholder-text;
      font-weight: 400;
    }

    .text-content {
      font-size: 14px;
    }

    input {
      border: none;
      padding: 0 7px;
      font-size: 14px;
      color: $blue-dark-text;
      font-weight: 600;

      &:focus {
        outline: 0;
      }
    }
  }
}

.masterpass {
  #masterpass-progress-alert {
    height: calc(100% - 168px);
    top: 72px;
  }
}

.eft {
  .screen-loading {
    height: calc(100% - 69px);
    top: 69px;

    @include phone {
      height: calc(100% - 72px);
      top: 73px;
    }
  }
}

@include phone {
  .inner-content {
    // padding: 0 $tab-global-padding;
    // min-height: 600px;

    .heading-con {
      .logo-container {
        height: 48px;
        padding: 5px 0;
      }
    }

    .otp-con {
      .opt-text {
        margin: 16px 0 24px;
      }
    }

    .qr-code-con {
      padding: 24px 0 0;

      .qr-img {
        margin-bottom: 16px;
      }
    }

    .phone-no-con {
      padding: 34px 20px;
    }
  }
}

@include tab {
  .inner-content {
    // padding: 0 $tab-global-padding;
    // min-height: 600px;

    .qr-code-con {
      padding: 24px 0 0;

      .qr-img {
        margin-bottom: 16px;
      }
    }

    .phone-no-con {
      padding: 34px 20px;
    }
  }
}
