.container-fluid {
  @include flex-center;

  min-height: 100vh;

  .wrapper {
    // max-width: 784px;
    // width: 100%;
    // background: #f1f2f4;
    // border-radius: 8px;
    // box-shadow: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0px 4px 20px 0px rgba(10, 31, 68, 0.10);
    // position: relative;
    // overflow: hidden;
    // height: 100vh;
  }
}

// .header {
//     max-height: 96px;
//     padding: 30px $desk-global-padding;
//     text-align: center;
//     background: $header-bg;
//     border-bottom: 1px solid $border-gray;
//     line-height: 0;
//     position: relative;
//     z-index:9;

//     .empty {
//         flex: 1;
//     }

//     .inner-header {
//         @include flex-center;

//         .merchant-logo {
//             flex: 1;
//             display: inline-block;
//             max-height: 36px;
//             min-width: 150px;
//             position: relative;

//             .flex-center {
//                 overflow: hidden;
//                 font-size: 16px;
//                 line-height: 20px;
//                 width: 184px;
//                 display: flex;
//                 white-space: nowrap;
//                 text-overflow: ellipsis;

//                 img {
//                     max-height: 100%;
//                     min-height: 24px;

//                     &::before {
//                         content: " ";
//                         display: block;
//                         position: absolute;
//                         top: -10px;
//                         left: 0;
//                         height: 30px;
//                         width: 100%;
//                         background-color: $peach-white;
//                     }

//                     &::after {
//                         content: '' attr(alt);
//                         display: block;
//                         position: absolute;
//                         top: 0px;
//                         left: 0;
//                         width: 100%;
//                         text-align: center;
//                         overflow: hidden;
//                         text-overflow: ellipsis;
//                     }
//                 }
//             }
//         }
//     }

//     .price-con {
//         flex: 1;
//         text-align: right;
//         display: flex;
//         justify-content: flex-end;

//         .flex-center {
//             height: 36px;
//         }

//         .currency {
//             font-size: 12px;
//             line-height: 16px;
//             color: $blue-text;
//             margin-right: 12px;
//             font-weight: 600;
//         }
//     }
// }

// .payment-con {
//     padding: 25px $desk-global-padding;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

// .card-cover {
//     padding: 0 36px;
//     height: calc(100vh - 288px);
//     overflow: auto;

//     ul {
//         display: inline-block;
//         width: 100%;
//         margin: 0;
//         padding: 0;

//         & > li {
//             list-style: none;
//             padding: 0 12px 24px;
//             width: 50%;
//             display: inline-block;

//             .card {
//                 display: flex;
//                 border-radius: 6px;
//                 align-items: center;
//                 justify-content: space-between;
//                 cursor: pointer;
//                 height: 96px;

//                 &::before {
//                     content: " ";
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     width: 100%;
//                     height: 100%;
//                     border: 1px solid transparent;
//                     border-radius: 6px;
//                 }

//                 .card-left {
//                     display: flex;
//                     align-items: center;

//                     .title {
//                         font-size: 16px;
//                         line-height: 24px;
//                         color: $blue-dark-text;
//                     }
//                 }

//                 .logo-con {
//                     line-height: 0;

//                     ul {
//                         li {
//                             display: inline-block;
//                             width: auto;
//                             line-height: 0;
//                             margin-left: 8px;
//                             padding: 0;

//                             &:last-child {
//                                 margin-left: 2px;
//                             }

//                             img {
//                                 height: 36px;
//                             }
//                         }
//                     }
//                 }
//             }

//             .active-con {
//                 display: inline-block;
//                 height: 24px;
//                 width: 24px;
//                 background: image-url('unselected.svg') no-repeat center;
//                 margin-right: 11px;
//             }

//             &.flag {
//                 .card {
//                     border: 1px solid $border-blue;

//                     &::before {
//                         border: 1px solid $border-blue;
//                     }
//                 }

//                 .active-con {
//                     background: image-url('selected.svg') no-repeat center;
//                 }
//             }
//         }
//     }
// }

.content-con {
  @include transform(translateY(calc(100vh - 96px)));

  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.12);
  height: 100%;
  transition: ease 0.5s;
  background: $white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px $desk-global-padding;
    cursor: pointer;

    .left-con {
      @include flex-center-only;

      cursor: pointer;
      min-height: 22px;

      .down-arrow {
        @include transform(rotate(180deg));

        margin-right: 8px;
        transition: ease 0.5s;
        line-height: 0;
      }
    }

    .right-con {
      @include flex-center-only;

      color: $gray-text;
      font-size: 14px;
      font-weight: 600;
      line-height: 13px;

      strong {
        color: $blue-dark-text;
      }

      .lock-icon {
        margin-left: 16px;
      }
    }
  }

  &.active {
    @include transform(translateY(94px));

    .down-arrow {
      @include transform(rotate(0deg) !important);
    }
  }

  .content-area {
    min-height: calc(100% - 190px);
    position: relative;
  }
}

.firefox-img {
  &::after {
    content: "" !important;
  }

  &::before {
    content: "" !important;
    top: 0 !important;
  }
}

.linkbtn {
  color: #15294c;
  font-size: 14px;
  text-decoration: underline;
}

.inner-content .center-btn {
  input[type="submit"] {
    float: none;
    display: block;
    margin: 15px auto 15px;
    width: 188px;
  }
}

@include desktop-large {
  .container-fluid {
    .wrapper {
      height: calc(100vh - 10vh);
    }
  }

  .content-con {
    @include transform(translateY(calc(100vh - 96px - 10vh)));
  }
}

@include tab-landscape {
  .container-fluid {
    .wrapper {
      min-height: auto;
      padding-bottom: 0;
    }
  }

  // .header {
  //     padding: 30px $tab-global-padding;
  // }

  .payment-con {
    padding: 20px $tab-global-padding;
  }

  // .card-cover {
  //     padding: 0 ($tab-global-padding/2);
  //     height: calc(100vh - 229px);
  //     overflow: auto;

  //     ul {
  //         & > li {
  //             width: 50%;
  //             padding: 0 12px 16px;

  //             .card {
  //                 padding: 30px 12px;
  //             }
  //         }
  //     }
  // }

  .content-con {
    @include transform(translateY(89.7%));

    .content-header {
      padding: 30px $tab-global-padding;

      .right-con {
        .lock-icon {
          margin-left: 16px;
        }
      }
    }
  }
}

@include tab {
  .container-fluid {
    .wrapper {
      min-height: inherit;
      padding-bottom: 0;
      height: 100vh;
    }
  }

  // .header {
  //     padding: 30px $phone-global-padding;
  //     text-align: left;
  // }

  .payment-con {
    padding: 20px $phone-global-padding;
  }

  .card-cover {
    padding: 0 8px;
    height: calc(100vh - 229px);
    overflow: auto;

    ul {
      & > li {
        width: 50%;
        padding: 0 8px 16px;

        .card {
          padding: 23px 8px;
        }
      }
    }
  }

  .content-con {
    @include transform(translateY(calc(100vh - 72px)));

    &.active {
      @include transform(translateY(95px));
    }

    .content-header {
      padding: 24px 16px;

      .right-con {
        .lock-icon {
          margin-left: 4px;
        }
      }
    }
  }
}

@include phone {
  .container-fluid {
    .wrapper {
      min-height: inherit;
      padding-bottom: 0;
    }
  }

  // .header {
  //     padding: 30px $phone-global-padding;
  //     text-align: left;

  //     .empty {
  //         flex: 0;
  //         width: 0;
  //     }

  //     .inner-header {
  //         .merchant-logo {
  //             display: flex;
  //             align-items: center;

  //             .flex-center {
  //                 justify-content: inherit;
  //                 width : 150px;
  //                 white-space: normal;
  //                 text-overflow: unset;

  //                 img {
  //                     &::before {
  //                         top: -2px;
  //                         left: 0;
  //                         height: 42px;
  //                     }

  //                     &::after {
  //                         text-align: left;
  //                         overflow: visible;
  //                         text-overflow: unset;
  //                         z-index: 9;
  //                         top: -1px;
  //                     }
  //                 }
  //             }
  //         }
  //     }
  // }

  .payment-con {
    padding: 20px $phone-global-padding;
  }

  // .card-cover {
  //     padding: 0 $phone-global-padding;
  //     height: calc(100vh - 229px);
  //     overflow: auto;

  //     ul {
  //         & > li {
  //             width: 100%;
  //             padding: 0 0 8px 0;

  //             .card {
  //                 padding: 23px 16px;
  //             }
  //         }
  //     }
  // }

  .content-con {
    @include transform(translateY(calc(100vh - 72px)));

    &.active {
      @include transform(translateY(95px));
    }

    .content-area {
      min-height: calc(100% - 190px);
      position: relative;
    }

    .content-header {
      padding: 24px 16px;

      .right-con {
        .lock-icon {
          margin-left: 4px;
        }
      }
    }
  }

  .safariHeight {
    min-height: calc(100vh - 70px);

    .wrapper {
      height: calc(100vh - 70px);
    }

    .card-cover {
      padding-bottom: 100px;
    }

    .content-con {
      @include transform(translateY(calc(100vh - 142px)));

      &.active {
        @include transform(translateY(95px));
      }
    }
  }

  .chromeHeight {
    min-height: calc(100vh - 56px);

    // .wrapper {
    //     height: calc(100vh - 56px);
    // }

    // .card-cover {
    //     padding-bottom: 100px;
    // }

    .content-con {
      @include transform(translateY(calc(100vh - 132px)));

      &.active {
        @include transform(translateY(95px));
      }
    }
  }

  .inner-content .center-btn {
    input[type="submit"] {
      width: 100%;
    }
  }
}

.content-header-cancel {
  font-size: 20px;
  color: $blue-dark-text;
  border-bottom: 2px solid rgba(10, 31, 68, 0.5);
  text-decoration: none;
}
