/********************* prefixer and mixin start here ************************/
@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tab {
  @media (min-width: 600px) and (max-width: 768px) {
    @content;
  }
}

@mixin tab-landscape {
  @media (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) and (max-width: 1439px) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin transform($transform-value) {
  -webkit-transform: $transform-value;
  -moz-transform: $transform-value;
  -o-transform: $transform-value;
  -ms-transform: $transform-value;
  transform: $transform-value;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-only {
  display: flex;
  align-items: center;
}

/********************* prefixer ended here ************************/
