.form-group {
  &.mpesa-form {
    @include flex-center-only;

    img {
      flex: 0 0 auto;
    }

    .text-content,
    .form-control {
      flex: 0 0 auto;
    }

    .text-content {
      line-height: normal;
    }

    .flex-item {
      @include flex-center-only;

      margin-top: -1px;
    }
  }
}

.flex-items {
  @include flex-center;

  flex-direction: row;

  p.text-content {
    margin: 0 5px;
  }
}
