$white: #fff;
$black: #000;
$resend-black: #212529;

$peach-white: #fcfcfd;
$blue-dark-text: #0a1f44;
$blue-text: #0d55cf;

$card-bg: #f5f7fa;
$inner-white: #f6f7fb;
$btn-blue: #1c7ed6;

$border-gray: #e0e0e8;
$border-dark-gray: #979797;
$border-blue: #1c7ed6;

$header-bg: #fcfcfd;
$gray-text: #adb5bd;

$gray-background: #c9ced6;
$gray-btn-text: #8a94a6;

$error-red-bg: #ffeaea;
$error-red-text: #dd2727;
$error-red: #f03d3d;

$warning-bg: #fff6e4;
$warning-text: #f07300;

$text-p: #53627c;
$placeoholder-text: #a6aebc;

$desk-global-padding: 48px;
$tab-global-padding: 24px;
$phone-global-padding: 16px;
