.wpwl-container {
  margin-top: 24px !important;
  max-width: 80%;
  margin: 0 auto;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.wpwl-group {
  @include flex-center-only;

  font-size: 14px !important;

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  [name="card.number"],
  [name="card.cvv"],
  select {
    height: 42px !important;
    border-radius: 4px !important;

    ::-webkit-input-placeholder {
      color: #8a94a6 !important;
    }

    ::-moz-placeholder {
      color: #8a94a6 !important;
    }

    :-ms-input-placeholder {
      color: #8a94a6 !important;
    }

    :-moz-placeholder {
      color: #8a94a6 !important;
    }
  }

  .wpwl-label {
    @extend .text-content;

    font-size: 14px;
    width: 20%;
    min-width: 137px;
  }

  .wpwl-wrapper,
  .wpwl-wrapper-brand {
    width: 80%;
  }

  .wpwl-button {
    @extend .btn-primary;
    @extend .btn-blue;
  }

  @media (max-width: 600px) {
    .wpwl-brand-card {
      display: none;
    }

    .wpwl-wrapper-brand {
      padding: 0;
    }
  }
}

@media (min-width: 480px) {
  .wpwl-wrapper-brand,
  .wpwl-brand-card {
    width: 27.333333%;
  }
}

.wpwl-wrapper-submit {
  width: 100% !important;
}

.wpwl-control {
  color: rgb(138, 148, 166) !important;
  border-color: $border-gray !important;
  padding-left: 8px !important;

  &::-webkit-input-placeholder {
    color: $gray-text !important;
  }

  &::-moz-placeholder {
    color: $gray-text !important;
  }

  &:-ms-input-placeholder {
    color: $gray-text !important;
  }

  &:-moz-placeholder {
    color: $gray-text !important;
  }
}

@include phone {
  .wpwl-group {
    .wpwl-wrapper {
      width: 100%;
    }
  }

  .wpwl-brand-VISA {
    width: 88px;
  }
}
