<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{{ assets_base_path }}favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000" />

    <title>Peach Payments Checkout - Complete your payment</title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id={{ ga_property_id }}"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "{{ ga_property_id }}", {
        linker: {
          accept_incoming: true,
        },
      });
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>

  <script type="application/javascript">
    window.GLOBAL_SETUP_OBJECT = Object.freeze({
        timeout: "{{ checkout_expire_time }}"
    });

    window.GLOBAL_CHECKOUT_OBJECT = {{ checkout.body|safe }};

    wpwlOptions = {
        style: "plain",
        iframeStyles: {
            "card-number-placeholder": {
                "font-size": "14px",
                "color": "#8a94a6",
                "font-family": "Open Sans"
            },
            "cvv-placeholder": {
                "font-size": "14px",
                "color": "#8a94a6",
                "font-family": "Open Sans"
            }
        },
        autofocus: "card.number",
        brandDetection: true,
        errorMessages: {
            "cardHolderError": "Invalid card holder name",
            "cvvError": "Invalid CVV entered",
            "cardNumberError": "Invalid card number",
            "expiryMonthError": "Invalid expiry date",
            "expiryYearError": "Invalid expiry date"
        },
        onReady: function () {
        },
        onBeforeSubmitCard: function () {
        },
        onBeforeSubmitVirtualAccount: function () {
            return true;
        },
        onReadyIframeCommunication: function () {
        },
        onAfterSubmit: function () {
        },
        onBeforeSubmitCard: function () {
            return true;
        }
    };
  </script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"
  ></script>
  {% if "EFTSecure" in merchant_payment_methods %}
  <script
    type="text/javascript"
    src="https://eft.ppay.io/js/eft-secure.min.js"
  ></script>
  {% endif %}

  <script type="module" src="/src/main.tsx"></script>
</html>
